.cust-menu{
padding: 25px;
font-size: 20px;
}
.cust-width{
    width : 200px;
}

.cust-width2{
    width : 230px;
}
 
.top-p{
    margin-top:65px;
    
}
.top-p p {
    color: blueviolet;
}
.left-p{
    margin-left: 110px;
}
.c-font{
    font-size: 27px;
}